@model double

<h2>Total Calories Burned</h2>
<p>You burned @Model calories</p><br />
<a asp-controller="Pedometer" asp-action="Steps" style = "text-decoration:none;font-size:20px;background-color:lightgreen;color:white;padding:20px;">Back</a>

